html {
  font-size: 18px;
}

body {
  font-family: helvetica, sans-serif;
  color: white;
}

/*
img {
  border: 1px solid red;
}
*/

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

header {
  display: flex;
  background-color: black;
  padding: 0.65rem 200px;
  align-items: center;
}

div.logo img {
  display: flex;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header div {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  background-color: firebrick;
  width: 100%;
  height: 30px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0.75rem ;
  align-items: center;
  background-size: cover;


}

.flex-container {
  display: flex;
}

.flex-container.hero {
  display: flex;
  background-image: url('./images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.container {
  max-width: 960px;
  display: block;
  margin: 0px auto;
  overflow: visible;
  background-size: cover;

}

.boxhead {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  margin-left: 200px;
  width: 20rem;
  height: 30%;
  text-transform: uppercase;
  font-weight: bold;
}

.items {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.item {
  border: 4px solid black;
  display: block;
  width: 30%;

}

.item-img {
  display: flex;
  height: 9rem;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: black;

}

.item-img img {
  max-width: 8rem;
}

.container.details {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;

}

.details {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  margin-top: 3rem;
  justify-content: space-between;

}

.title {
  padding: 1rem 2rem;
  text-align: left;
  background-color: black;
  display: block;
}

.details p {
  color: black;
  background-color: white;
}

footer {
  display: flex;
  background-color: black;
  height: 5rem;
  margin-top: 3rem;
  align-content: center;
  background-size: cover;

}
