html {
  font-size: 18px;
}

body {
  font-family: helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25em;
}

header {
  display: flex;
  background-color: black;
  padding: 0.65rem 200px;
  align-items: center;
}

div.logo img {
  display: flex;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header div {
  display: flex;
  align-items: center;
}

nav {
  display: inline-flex;
  background-color: firebrick;
  width: 100%;
  height: 30px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0.75rem 200px;
  align-items: center;

}

.flex-container {
  display: flex;
}

.flex-container.hero {
  display: flex;
  background-image: url('./images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.boxhead {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  margin-left: 200px;
  width: 20rem;
  height: 30%;
  text-transform: uppercase;
  font-weight: bold;
}

.items {
  display: flex;
  margin: 3rem 175px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  flex-flow: column wrap;
  border: 4px solid black;
  background-color: white;
  width: 30%;
  height: 15rem;
  justify-content: flex-end;
  overflow: hidden;
}

.item p {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: black;
  width: 100%;

}

.item img {
  display: flex;
  max-width: 50%;
  max-height: 9rem;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-content: center;
}
